@use "globals" as *;

main {
  .title {
    font-size: 120px;
    color: $clrHeaderLightText;
    max-width: 1200px;
    text-align: center;

    @media screen and (max-width: 1450px) {
      @include mx-linscale(font-size, 120, 56, 1450, 360);
    }

    @media screen and (max-width: 480px) {
      text-align: left;
    }
  }

  .s1 {
    padding: 60px 20px 0;

    .vflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;

      .txt {
        font-size: 18px;
        color: $clrHeaderLightText;
        text-align: center;
      }

      .img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 60, 30, 1450, 450);

      .vflex > .txt { @include mx-linscale(font-size, 18, 16, 1450, 360); }
    }

    @media screen and (max-width: 480px) {
      .vflex > .txt { text-align: left; }
    }

    @media screen and (max-width: 1450px) {
      .vflex {
        @include mx-linscale(gap, 34, 26, 1450, 450);
      }
    }
  }

  .s2 {
    padding: 135px 20px 0;

    .vflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;
      color: $clrHeaderLightText;

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 100px 16px;

        .cell {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 34px;

          .title { font-size: 32px; }

          .txt {
            text-align: center;
            font-size: 18px;
            line-height: 26px;

            @media screen and (max-width: 1450px) {
              @include mx-linscale(font-size, 18, 16, 1450, 360);
            }
          }

          @media screen and (max-width: 480px) {
            align-items: start;

            .title, .txt { text-align: left; }
          }
        }

        @media screen and (max-width: 780px) {
          grid-template-columns: 1fr;

          @include mx-linscale(grid-row-gap, 100, 50, 780, 450);
          @include mx-linscale(max-width, 600, 400, 780, 360);
        }
      }
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 135, 40, 1450, 360);
    }
  }

  .s3 {
    padding: 120px 20px;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;

      .img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;

        @include mx-linscale(max-width, 720, 460, 1100, 500);
      }
    }

    @media screen and (max-width: 1200px) {
      @include mx-linscale(padding-top, 120, 80, 1200, 360);
      @include mx-linscale(padding-bottom, 120, 80, 1200, 360);
    }
  }

  .s4 {
    padding: 0 20px;

    .vflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;
      color: $clrHeaderLightText;

      .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;

        @media screen and (max-width: 760px) {
          grid-template-columns: 1fr;
          grid-gap: 80px;
        }
      }
    }
  }

  .s5 {
    background-color: $clrHeaderDarkBk;
    padding: 100px 20px;
    margin-top: 80px;

    .inner {
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      color: $clrHeaderDarkText;

      .titleq {
        font-size: 94px;
        line-height: 104px;
        text-align: center;
      }

      .saying {
        display: flex;
        gap: 20px;
        text-align: center;

        .single {
          flex: 1;
          display: flex;
          flex-direction: column;

          .say {
            font-size: 23px;
            line-height: 33px;
            margin-bottom: 18px;
          }

          .who {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      @media screen and (max-width: 1450px) {
        .titleq {
          @include mx-linscale(font-size, 94, 56, 1450, 360);
          @include mx-linscale(line-height, 104, 66, 1450, 360);
        }
      }

      @media screen and (max-width: 780px) {
        gap: 80px;

        .saying {
          flex-direction: column;
          gap: 50px;
        }
      }

      @media screen and (max-width: 480px) {
        .titleq, .saying { text-align: left; }
      }
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 100, 50, 1450, 360);
      @include mx-linscale(padding-bottom, 100, 50, 1450, 360);
      @include mx-linscale(margin-top, 80, 35, 1450, 360);
    }
  }
}
