@use "globals" as *;
@use "sass:color";


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  label.label {
    padding-bottom: 2px;
    display: flex;
    font-size: 16px;
    color: $clrHeaderDarkText;

    &.disabled { color: $clrHeaderDarkText_Disabled; }

    &.dark {
      color: $clrHeaderLightText;
      &.disabled { color: $clrHeaderLightText_Disabled; }
    }
  }

  .withAdorn {
    display: flex;
    align-items: center;
    border-radius: 4px;
    outline-offset: 2px;
    padding: 0;
    background-color: color.adjust($clrHeaderLightBk, $alpha: -.03 );
    box-sizing: border-box;

    &.light {
      border: 1px solid $clrHeaderLightBk;

      &:hover { border-color: color.adjust($clrHeaderLightBk, $lightness: -30% ); }
      &.errorBorder { border-color: $clrError_Light; }

      &:has(input.input:focus-visible) {
        outline: $clrHeaderLightBk solid 2px;
        border-color: color.adjust($clrHeaderLightBk, $lightness: -60% );

        &.error {
          outline-color: $clrError_Light;
          border-color: $clrError_Light;
        }
      }

      &:has(input.input:disabled) {
        border-color: $clrHeaderDark_Disabled;
        background: transparent;
        .input { color: color.adjust($clrHeaderDark_Disabled, $lightness: 30% ); }
      }
    }

    &.dark {
      border: 1px solid color.adjust($clrHeaderDarkBk, $lightness: 60% );

      &:hover { border-color: color.adjust($clrHeaderDarkBk, $lightness: 30% ); }
      &.errorBorder { border-color: $clrError; }

      &:has(input.input:focus-visible) {
        outline: $clrHeaderDarkBk solid 2px;
        border-color: $clrHeaderDarkBk;

        &.error {
          outline-color: $clrError;
          border-color: $clrError;
        }
      }

      &:has(input.input:disabled) {
        border-color: $clrHeaderDark_Disabled;
        background: transparent;
        .input { color: color.adjust($clrHeaderLight_Disabled, $lightness: -20% ); }
      }
    }

    .input {
      @extend %fnt-secondary;

      border: none;
      outline: none;
      background-color: transparent;
      color: black;
      flex: 1;
      min-width: 50px;
      padding-left: 12px;
      height: 64px;
    }
  }

  .errorText {
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;

    &.dkError {
      color: $clrError;
      &.disabled { color: $clrHeaderLightText_Disabled; }
    }

    &.ltError {
      color: $clrError_Light;
      &.disabled { color: $clrHeaderDarkText_Disabled; }
    }
  }
}
