@use "globals" as *;
@use "sass:color";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  label.label {
    padding-bottom: 2px;
    display: flex;
    font-size: 16px;
    color: $clrHeaderDarkText;

    &.dark { color: $clrHeaderLightText; }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    outline-offset: 2px;
    background-color: $clrHeaderLightBk;
    box-sizing: border-box;
    outline-color: blue;
    padding: 0 16px;
    min-height: 64px;

    &.light {
      border: 1px solid $clrHeaderLightBk;

      &.errorBorder { border-color: $clrError; }

      &:focus-within {
        outline: $clrHeaderLightBk solid 2px;

        &.error { outline-color: $clrError; }
      }

      &:disabled { border-color: $clrHeaderDark_Disabled; }
    }

    &.dark {
      border: 1px solid fn-admin-color(8);

      &:hover { border-color: fn-admin-color(32); }

      &.errorBorder { border-color: $clrError; }

      &:focus-within {
        outline: $clrHeaderDarkBk solid 2px;
        border-color: $clrHeaderDarkBk;

        &.error { outline-color: $clrError; }
      }

      &:disabled { border-color: $clrHeaderLight_Disabled; }
    }

    &:disabled { cursor: not-allowed; }

    .input {
      @extend %fnt-secondary;

      padding: 0 8px;
      font-size: 18px;
      border: none;
      outline: none;

      &::placeholder { color: #B2B2B2; }
    }
  }


  .errorText {
    color: $clrError;
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;

    &.none { display: none; }
  }
}
