@use "globals" as *;
@use "sass:color";


.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;

  .titleArea {
    background-color: $clrHeaderDarkBk;
    padding: 0 20px;
    height: 140px;
    display: grid;
    place-content: center;
    color: $clrHeaderDarkText;

    .title {
      @extend %fnt-primary;

      font-size: 38px;
      line-height: 1.2;

      @media screen and (max-width: 440px) { font-size: 32px; }

      @media screen and (max-width: 390px) { font-size: 30px; }
    }
  }

  .s1 {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    .link {
      color: $clrHelpCenter_PageTitle;
      text-decoration: underline;
      box-sizing: border-box;
      outline: none;
      border: 1px dotted transparent;
      font-weight: bold;
      letter-spacing: 0.04em;

      &:hover { color: $clrLinkText; }
      &:active { color: color.adjust($clrHeaderLightText, $lightness: 5%); }
      &:focus-visible { border-color: $clrHeaderLightText; }
    }

    .txtRegister {
      @extend %fnt-secondary;

      font-size: 42px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: .3px;
      margin: 80px 0 40px;
      color: $clrHelpCenter_PageTitle;
    }

    p {
      margin: 20px 0;
      max-width: 680px;

      .txtDesc {
        @extend %fnt-secondary;

        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .7px;
        color: $clrHelpCenter_PageText;

        strong {
          @extend %fnt-primary;
        }

        em {
          font-weight: bold;
        }
      }
    }

    .errorNote {
      width: 100%;
      max-width: 800px;
      min-height: 80px;
      background: #FDE8EB;
      margin-top: 40px;
      margin-bottom: -20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 10px 20px;
      box-shadow: 1px 1px 5px 0 rgb(0 0 0 / .2);

      svg.imgExclamation {
        width: 30px;
        min-width: 30px;
        height: auto;
        padding: 5px 15px 5px 5px;

        [data-g1] { fill: #460712; }
      }

      .txtError {
        @extend %fnt-secondary;

        font-size: 18px;
        line-height: 1.75;
        letter-spacing: 0.03em;

        strong { font-weight: bold; }
      }
    }

    .txtAboutYou {
      @extend %fnt-secondary;

      font-size: 22px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: .3px;
      margin: 80px 0 40px;
      color: $clrHelpCenter_PageTitle;
    }

    .controlsArea {
      position: relative;

      .overlay {
        position: absolute;
        z-index: 4;
        inset: 0;
        background-color: white;
        opacity: .75;
        display: grid;
        place-items: center;
      }

      .inputWrap {
        margin-bottom: 16px;

        .input {
          height: 42px;
          width: 100%;
          padding: 0 16px;
          font-size: 16px;
        }

        .errTxt { margin-top: -4px; }
      }

      .lineWithFlag {
        display: flex;
        gap: 0 8px;
        flex-wrap: wrap;
        margin-bottom: 16px;

        &.country {
          margin-bottom: 32px;

          .flag { padding-top: 24px; }
        }

        .sameLine { display: inline-flex; }

        .wrapperPhone {
          flex: none;
          width: fit-content;
        }

        .phoneInput {
          height: 42px;
          width: 100%;
          padding: 0 16px;
          font-size: 16px;
        }

        .errTxt { margin-top: -4px; }

        .flag {
          width: 36px;
          min-width: 30px;
          box-sizing: border-box;
          display: grid;
          place-items: center;
          padding-top: 8px;

          .rcflag {
            width: 30px;
            height: 20px;
            box-shadow: 2px 2px 2px 1px rgba($clrAdmin_35, .4);
          }

          .disabled {
            filter: grayscale(1);
            opacity: .4;
          }

          .interphone { scale: 1.75; }
        }

        .txtCountry {
          @extend %fnt-secondary;

          font-size: 16px;
          color: fn-admin-color(33);
          align-self: center;
          padding: 8px 0 0 8px;
        }

        .comboCountries {
          width: 100%;
          max-width: 500px;
        }
      }

      .btn {
        white-space: nowrap;
        height: 52px;
        margin: 32px 0;
      }
    }

    .txtSmall {
      @extend %fnt-secondary;

      font-size: 14px;
      letter-spacing: 0.03em;
      color: $clrHelpCenter_PageTitle;
      margin-bottom: 32px;
    }
  }
}
