@use "globals" as *;
@use "sass:color";

.purchaseSummary {
  box-sizing: border-box;
  padding: 20px;
  margin: 40px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: min(400px, 100%);
  align-self: center;
  background-color: white;
  border-radius: 8px;
  border: 2px solid color.adjust(#EFF2F3, $lightness: -10%);

  .txtSummary {
    @extend %fnt-primary;

    font-size: 24px;
    text-align: center;

    @media screen and (max-width: 460px) { font-size: 20px; }

    @media screen and (max-width: 342px) { font-size: 18px; }
  }

  .gridSummary {
    display: grid;
    grid: 60px 40px / 1fr 120px;

    .cell1 {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .line1 {
        @extend %fnt-secondary;

        font-size: 16px;
        padding-bottom: 2px;
      }

      .line2 {
        @extend %fnt-primary;

        font-size: 13px;
        color: color.adjust(black, $lightness: 30% );
        padding-left: 40px;
      }

      .txtSubsType {
        @extend %fnt-secondary;

        font-size: 16px;
      }
    }

    .cell2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .txtAmount {
        @extend %fnt-primary;

        font-size: 16px;
        background-color: #21499E;
        color: white;
        padding: 4px 12px;
        border-radius: 15px 5px;
      }

      .txtPeriod {
        @extend %fnt-primary;

        font-size: 16px;
        padding-right: 12px;
      }
    }

    @media screen and (max-width: 490px) {
      grid-template: "row1" 70px "row2" 40px / 1fr;
      grid-row-gap: 8px;

      .cell1 { justify-content: flex-start; }
      .cell2 { justify-content: flex-end; }
      .cell1:nth-child(1), .cell2:nth-child(2) { grid-area: row1; }
      .cell1:nth-child(3), .cell2:nth-child(4) { grid-area: row2; }
    }
  }

  @media screen and (max-width: 440px) {
    margin: 10px 0 0;
  }
}
