@use "globals" as *;


.main {
  @extend %lnk-free-trial;

  .centrer {
    margin: 0 auto;
  }

  .s1 {
    background-color: $clrHeaderDarkBk;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 160px 90px 60px;
    align-items: flex-start;

    .titleText {
      @extend %fnt-secondary;

      font-size: 52px;
      max-width: $maxHtmlPageWidth;
      text-align: start;
      color: $clrHeaderDarkText;
    }

    .spacer { min-height: 50px; }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 160, 90, 1450, 450);
      @include mx-linscale(min-height, 550, 440, 1450, 450);
      @include mx-linscale(padding-left, 90, 20, 1450, 500);
      @include mx-linscale(padding-right, 90, 20, 1450, 500);

      .titleText { @include mx-linscale(font-size, 52, 30, 1450, 360); }
    }

    @media screen and (max-width: 500px) {
      padding-bottom: 30px;

      .spacer { min-height: 20px; }
    }
  }

  .s2, .s3 {
    .title {
      @extend %fnt-secondary;

      font-size: 120px;
      color: $clrHeaderLightText;
      max-width: 1200px;
      text-align: center;

      @media screen and (max-width: 1250px) {
        @include mx-linscale(font-size, 120, 56, 1450, 360);
      }

      @media screen and (max-width: 480px) {
        text-align: left;
      }
    }
  }

  .s2 {
    padding: 100px 20px 0;

    .vflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;

      .txt {
        @extend %fnt-secondary;

        font-size: 18px;
        color: $clrHeaderLightText;
        text-align: center;
      }

      .img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 60, 30, 1450, 450);

      .vflex > .txt { @include mx-linscale(font-size, 18, 16, 1450, 360); }
    }

    @media screen and (max-width: 480px) {
      .vflex > .txt { text-align: left; }
    }

    @media screen and (max-width: 1450px) {
      .vflex {
        @include mx-linscale(gap, 34, 26, 1450, 450);
      }
    }
  }

  .s3 {
    padding: 135px 20px 0;

    .vflex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;
      color: $clrHeaderLightText;

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 100px 16px;

        .cell {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 34px;

          .title { font-size: 32px; }

          .txt {
            @extend %fnt-secondary;

            text-align: center;
            font-size: 18px;
            line-height: 26px;

            @media screen and (max-width: 1450px) {
              @include mx-linscale(font-size, 18, 16, 1450, 360);
            }
          }

          @media screen and (max-width: 480px) {
            align-items: start;

            .title, .txt { text-align: left; }
          }
        }

        @media screen and (max-width: 780px) {
          grid-template-columns: 1fr;

          @include mx-linscale(grid-row-gap, 100, 50, 780, 450);
          @include mx-linscale(max-width, 600, 400, 780, 360);
        }
      }
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 135, 40, 1450, 360);
    }
  }

  .s4 {
    padding: 120px 20px 0;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      max-width: $maxHtmlPageWidth;
      margin: 0 auto;

      .img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;

        @include mx-linscale(max-width, 720, 460, 1100, 500);
      }
    }

    @media screen and (max-width: 1200px) {
      @include mx-linscale(padding-top, 120, 80, 1200, 360);
      @include mx-linscale(padding-bottom, 120, 80, 1200, 360);
    }
  }

  .s5 {
    padding: 160px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .titleText {
      @extend %fnt-secondary;

      font-size: 40px;
      line-height: 50px;
      max-width: $maxHtmlPageWidth;
      text-align: start;
      padding-bottom: 70px;
      color: $clrHeaderLightText;
    }

    .grid {
      max-width: $maxHtmlPageWidth;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 0 40px;

      .imgDesc {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          max-width: 100%;
          height: auto;
        }

        .desc { font-size: 20px; }

        @media screen and (max-width: 420px) {
          .desc { font-size: 18px; }
        }
      }

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 60px;
      }

      @media screen and (max-width: 680px) {
        grid-template-columns: 1fr;
      }
    }

    .vesaire {
      @extend %fnt-secondary;

      padding-top: 60px;
      font-size: 20px;
    }

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 160, 90, 1450, 450);
      @include mx-linscale(padding-bottom, 160, 90, 1450, 450);
      @include mx-linscale(padding-left, 90, 20, 1450, 500);
      @include mx-linscale(padding-right, 90, 20, 1450, 500);

      .titleText {
        @include mx-linscale(font-size, 40, 26, 1450, 360);
        @include mx-linscale(line-height, 50, 33, 1450, 360);
      }
    }

    @media screen and (max-width: 420px) {
      .vesaire {
        font-size: 18px;
        padding-top: 40px;
      }
    }
  }

  .s6 {
    padding: 120px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clrHeaderDarkBk;

    @media screen and (max-width: 1450px) {
      @include mx-linscale(padding-top, 120, 60, 1450, 450);
      @include mx-linscale(padding-bottom, 120, 60, 1450, 450);
    }
  }

  .s7 { padding: 50px 0; }
}
