@use "globals" as *;
@use "sass:color";

$clrErrorInput: #E46;

.inviteUserDialog {
  @extend %dialog-common;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .overlay {
      position: absolute;
      z-index: 10;
      inset: 0;
      background-color: $clrAdminBk;
      opacity: .75;
      display: grid;
      place-items: center;
    }

    .inp {
      height: 48px;
      width: 100%;
      background-color: transparent;
      color: black;

      &.light {
        &:focus-visible {
          &.error { outline-color: $clrError; }
        }
      }
    }
  }

  .errorTextXtra {
    color: $clrError;
  }
}
