@use "globals" as *;

.navbar {
  width: 245px;
  box-sizing: border-box;
  border-right: 1px solid $clrAdmin_BorderClr;
  display: flex;
  flex-direction: column;
  color: $clrAdmin_Txt0;
  font-size: 20px;
  padding-top: 150px;
}
