@use "globals" as *;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: white;
  position: relative;

  .overlay {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: white;
    opacity: .75;
    display: grid;
    place-items: center;
  }

  .wrapInp {
    @extend %fnt-secondary;

    margin-bottom: 20px;

    .inp {
      height: 48px;
      width: 100%;
    }
  }

  .hfx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .pbtn { min-width: 180px; }

    .link {
      @extend %fnt-secondary;
      @extend %noselect;

      color: $clrLinkText;
      touch-action: none;
      text-decoration: underline;
      outline: none;
      border: 1px dotted transparent;
      background-color: transparent;
      height: 30px;

      &:hover:enabled {
        text-decoration: none;
      }

      &:focus-visible {
        border-color: $clrLinkBorder;
      }
    }
  }

  @media screen and (max-width: 440px) {
    .wrapInp { margin-bottom: 10px; }
    .pbtn { align-self: center; }
  }
}
