@use "globals" as *;


.main {
  .titleArea {
    background-color: $clrHeaderDarkBk;
    padding: 0 20px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: $clrHeaderDarkText;

    .title {
      @extend %fnt-primary;

      font-size: 38px;
      line-height: 1.2;
    }

    .subtitle {
      @extend %fnt-secondary;

      font-size: 20px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      gap: 6px 40px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px;

      div.nw { white-space: nowrap; }
      span.b { @extend %fnt-primary; }
    }

    @media screen and (max-width: 440px) {
      .title { font-size: 32px; }
      .subtitle { font-size: 18px; }
    }

    @media screen and (max-width: 390px) {
      .title { font-size: 30px; }
      .subtitle { font-size: 16px; }
    }
  }

  .contentArea {
    padding: 40px 0 100px;

    .content {
      margin: 0 auto;
      max-width: 960px;
      line-height: 1.5;
      box-sizing: border-box;
      padding: 0 20px;

      .link {
        color: $clrLinkText;
        text-decoration: underline;
      }

      h3 {
        @extend %fnt-primary;

        margin: 40px 0 24px;
        font-size: 22px;
      }

      h4 {
        @extend %fnt-primary;

        margin: 40px 0 24px;
        font-size: 20px;
      }

      p {
        @extend %fnt-secondary;

        font-size: 18px;
        margin-bottom: 24px;

        em { font-style: italic; }
      }

      .company {
        @extend %fnt-secondary;

        font-size: 18px;
        margin-bottom: 24px;

        .addr {
          display: grid;
          grid: auto / min-content 1fr;
          gap: 5px 20px;
        }

        strong { font-weight: 600; }
      }

      ul, ol {
        @extend %fnt-secondary;

        font-size: 18px;
        margin: -8px 0 16px;
        padding-left: 30px;

        li {
          margin-bottom: 8px;
          position: relative;

          strong { @extend %fnt-primary; }
          em { font-style: italic; }
        }
      }

      ul { list-style: disc; }
      ol { list-style: decimal; }
    }
  }
}
