@use "globals" as *;

.main {
  padding: 20px;

  .title {
    font-size: 22px;
    font-weight: bold;
    color: #7979ea;
    padding-bottom: 50px;

    &.pt { padding-top: 100px; }
  }

  .loadingGrid {
    display: grid;
    grid: auto-flow dense / repeat(4, minmax(200px, min-content));
    gap: 15px;

    .cell {
      border: 1px solid lightgray;
      border-radius: 5px;
      display: grid;
      place-items: center;
      padding: 10px;

      &.wider { min-width: 250px; }
    }
  }

  .pushButtonGrid {
    display: grid;
    grid: 20px 100px / 250px 250px;
    gap: 10px 0;

    .child {
      display: grid;
      place-items: center;

      &:nth-child(3) { background-color: $clrHeaderDarkBk; }
    }
  }

  .plusMinusGrid {
    display: grid;
    grid: auto-flow dense / repeat(5, minmax(150px, min-content));
    gap: 5px;

    .cell {
      padding: 30px;
      display: grid;
      place-items: center;
      font-size: 48px;

      &.dark { background-color: $clrHeaderDarkBk; }

      .extraBtnClass1 {
        height: 34px;
        width: 40px;
        font-size: 28px;
      }

      .extraBtnClass2 {
        height: 34px;
        width: 40px;
        font-size: 28px;
      }

      .extraBtnClass3 {
        padding: 0;
      }

      .extraBtnClass4 {
        height: 38px;
        font-size: 36px;
        background-color: #3B3BEC;
      }
    }
  }
}
