@use "globals" as *;

.fullScreenCentrer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  box-sizing: border-box;

  .ct {
    font-size: 24px;
    color: $clrAdmin_Txt0;
    text-align: center;
  }
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 100%;

  .title {
    font-size: 22px;
    color: $clrAdmin_Txt1;
    padding: 20px;
    text-align: center;
  }

  .licenseList {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
}
