@use "globals" as *;


.licenseBlock {
  border: 2px solid gainsboro;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 30px 30px 20px;
  position: relative;

  .overlay {
    position: absolute;
    inset: 10px;
    border-radius: 20px;
    background: $clrAdminBk;
    opacity: .7;
    display: grid;
    place-items: center;
  }

  .dataList {
    display: grid;
    grid: auto-flow / auto 1fr;
    grid-gap: 10px 30px;
    font-size: 15px;

    :nth-child(odd) {
      color: $clrAdmin_LicenseTextKey;
      font-weight: bold;
    }

    :nth-child(even):not(.status) {
      @extend %fnt-secondary;

      color: $clrAdmin_LicenseTextValue;
    }

    .status {
      font-size: 16px;

      &.active { color: #0A7E33; }
      &.inactive { color: #868F8F; }
      &.disabled { color: #B63E50; }
    }

    .user {
      padding: 2px 6px;
      width: fit-content;
      background: $clrAdmin_AssignedUserBk;
    }
  }

  .actions {
    display: flex;
    box-sizing: border-box;
    padding: 24px 0 8px;
    flex-wrap: wrap;

    &.noActions { padding: 0; }

    .pbXtra {
      height: 48px;

      &:focus-visible {
        border-color: $clrHeaderLightBk;
      }
    }
  }
}
