@use "globals" as *;
@use "sass:color";


.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;

  .titleArea {
    background-color: $clrHeaderDarkBk;
    padding: 0 20px;
    height: 140px;
    display: grid;
    place-content: center;
    color: $clrHeaderDarkText;

    .title {
      @extend %fnt-primary;

      font-size: 38px;
      line-height: 1.2;

      @media screen and (max-width: 500px) { font-size: 30px; }

      @media screen and (max-width: 380px) { font-size: 26px; }
    }
  }

  .link {
    color: $clrHelpCenter_PageTitle;
    text-decoration: underline;
    box-sizing: border-box;
    outline: none;
    border: 1px dotted transparent;
    font-weight: bold;
    letter-spacing: 0.04em;

    &:hover { color: $clrLinkText; }
    &:active { color: color.adjust($clrHeaderLightText, $lightness: 5%); }
    &:focus-visible { border-color: $clrHeaderLightText; }
  }

  .txtDesc {
    @extend %fnt-secondary;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .7px;
    color: $clrHelpCenter_PageText;

    strong {
      @extend %fnt-primary;
    }

    em {
      font-weight: bold;
    }

    &.f16 { font-size: 16px; }
    &.mt8 { margin-top: 8px; }
    &.pad { margin-left: 32px; }
  }

  p {
    margin: 20px 0;
    max-width: 680px;
  }

  ul {
    margin: 20px 0 20px 20px;
    list-style: square;

    li { padding: 8px 0; }
  }

  .s1 {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    .txtDownload {
      @extend %fnt-secondary;

      font-size: 42px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: .3px;
      margin: 80px 0 40px;
      color: $clrHelpCenter_PageTitle;

      @media screen and (max-width: 550px) {
        @include mx-linscale(font-size, 42, 34, 550, 360);
      }
    }
  }

  .s2 {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    .txtInstall {
      @extend %fnt-secondary;

      font-size: 32px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: .3px;
      margin: 20px 0;
      color: $clrHelpCenter_PageTitle;

      @media screen and (max-width: 550px) {
        @include mx-linscale(font-size, 32, 26, 550, 360);
      }
    }

    .numGrid {
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 20px 8px;

      .cell {
        width: 100%;
        box-sizing: border-box;

        &:nth-child(even) { padding-top: 4px; }

        .num {
          @extend %fnt-secondary;

          height: 30px;
          background: gainsboro;
          border-radius: 50%;
          display: grid;
          place-items: center;
          font-size: 16px;
          font-weight: bold;
        }

        .btnDownload {
          margin: 10px 0;

          .btnTxt {
            display: flex;
            align-items: center;

            svg.dload {
              width: 24px;
              height: auto;
              padding-right: 12px;

              [data-g1] { fill: gainsboro; }
            }
          }
        }
      }
    }
  }

  .s3 { padding-top: 120px; }
}
