@use "globals" as *;
@use "sass:color";


.main {
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  display: grid;
  place-items: center;

  .contents {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: #EFF2F3;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
    border: 1px solid color.adjust($clrSeparator, $lightness: 6%);
    display: flex;
    flex-direction: column;
    gap: 30px;

    .checkMark {
      margin-top: 20px;
      height: 100px;

      @media screen and (max-width: 440px) {
        margin-top: 14px;

        @include mx-linscale(height, 100, 60, 440, 320);
      }
    }

    .txtThankYou {
      @extend %fnt-primary;

      font-size: 32px;
      text-align: center;
      line-height: 1.2;

      @media screen and (max-width: 600px) {
        @include mx-linscale(font-size, 32, 20, 600, 320);
      }
    }

    .txtWelcome {
      @extend %fnt-secondary;

      font-size: 16px;
      text-align: center;
      line-height: 1.2;
    }

    .loginLink { margin: 0 auto; }

    .txtHelp {
      @extend %fnt-secondary;

      text-align: center;
      font-size: 14px;
      line-height: 1.2;
      margin: 0 40px;

      @media screen and (max-width: 600px) {
        @include mx-linscale(margin-left, 40, 0, 600, 400);
        @include mx-linscale(margin-right, 40, 0, 600, 400);
      }
    }

    @media screen and (max-width: 470px) {
      @include mx-linscale(gap, 30, 15, 470, 320);
    }
  }
}
