@use "globals" as *;
@use "sass:color";


.main {
  display: flex;
  border: 1px solid $clrError;
  background-color: color.adjust($clrError, $alpha: -.8);
  width: 100%;
  color: $clrError;
  font-size: 16px;
  align-items: center;

  .spacer { flex: 1; }

  svg.imgExclamation {
    width: 30px;
    height: auto;
    padding: 5px 15px 5px 5px;

    [data-g1] { fill: $clrError; }
  }

  button.close {
    width: 40px;
    font-size: 28px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $clrError;
    color: $clrError;
    display: flex;
    outline-color: $clrError;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      color: color.adjust($clrError, $lightness: 15%);
      background-color: color.adjust($clrError, $lightness: 45%, $alpha: -.75);
    }

    &:active {
      color: color.adjust($clrError, $lightness: 22%);
      background-color: color.adjust($clrError, $lightness: 60%, $alpha: -.6);
    }
  }
}
