@use "globals" as *;


.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: 22px;
    padding: 20px;
    color: $clrAdmin_Txt1;
    text-align: center;
  }

  .cardsAndFooter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;

    .cardArea {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;

      .cardWrapper {
        flex: 0 0 33.333%;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 300px;
        min-height: 190px;

        .card {
          flex-grow: 1;
          background: linear-gradient($clrAdmin_06, #FFF);
          box-shadow: 0 18px 18px 0 rgb(31 44 78 / 6%), 0 5px 6px 0 rgb(17 36 62 / 16%);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 30px;

          .loading {
            flex: 1;
            margin-top: 40px;
            display: flex;
            justify-content: center;
          }

          .heading {
            font-size: 23px;
            color: $clrAdmin_Txt1;
          }

          .tier {
            font-size: 14px;
            color: #0E3A5E;
          }

          .desc {
            @extend %fnt-secondary;

            margin-top: 16px;
            font-size: 16px;
            color: $clrAdmin_Txt1;
          }

          .errorArea {
            width: 100%;
            flex: 1;
            font-size: 18px;
            color: $clrError;
            padding-top: 40px;
            text-align: center;
          }

          .ver {
            @extend %fnt-secondary;

            margin-top: 30px;
            font-size: 14px;
            color: $clrAdmin_Txt1;

            span.dk {
              @extend %fnt-primary;

              color: $clrAdmin_Txt0;
            }
          }

          .pbtn {
            margin-top: 2px;
            width: 100%;
          }

          .older { margin: 60px 0 8px; }

          a.versionLink {
            @extend %fnt-secondary;

            font-size: 18px;
            margin-left: 15px;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
