@use "globals" as *;
@use "sass:color";


$clrTabSwitch_ActiveLine_Dark: #5E5299;
$clrTabSwitch_ActiveLine_Light: white;
$clrText_Lesser_Dark: #696977;
$clrText_Lesser_Light: #F3F2F8DF;
$clrText_Standard_Dark: #554A8A;
$clrText_Standard_Light: white;
$clrSeparator_Dark: #5E529975;
$clrSeparator_Light: #FFFFFF75;
$clrText_Disabled: #999;
$clrTabSwitch_HiliteSelected_Dark: #7B6BC8;
$clrTabSwitch_HiliteSelected_Light: #E3E3E3;
$clrTabSwitch_HiliteNotSelected_Dark: #7B6BC875;
$clrTabSwitch_HiliteNotSelected_Light: #E3E3E375;
$clrArrowBtns_PageBackground_Dark: #F3F2F8;
$clrArrowBtns_PageBackground_Light: #253551;
$clrArrowBtns_PageBackground_Hover_Dark: color.adjust($clrArrowBtns_PageBackground_Dark, $lightness: -5% );
$clrArrowBtns_PageBackground_Hover_Light: color.adjust($clrArrowBtns_PageBackground_Light, $lightness: 9% );
$clrArrowBtns_PageBackground_Down_Dark: color.adjust($clrArrowBtns_PageBackground_Dark, $lightness: -10% );
$clrArrowBtns_PageBackground_Down_Light: color.adjust($clrArrowBtns_PageBackground_Light, $lightness: 18% );
$clrArrowBtns_Icon_Dark: #666;
$clrArrowBtns_Icon_Light: #CCC;

.light {
  --clr-active-line: #{$clrTabSwitch_ActiveLine_Light};
  --clr-text-lesser: #{$clrText_Lesser_Light};
  --clr-text-standard: #{$clrText_Standard_Light};
  --clr-separator: #{$clrSeparator_Light};
  --clr-hilite-not-selected: #{$clrTabSwitch_HiliteNotSelected_Light};
  --clr-hilite-selected: #{$clrTabSwitch_HiliteSelected_Light};
  --clr-arwbtns-page-background: #{$clrArrowBtns_PageBackground_Light};
  --clr-arwbtns-page-background-hover: #{$clrArrowBtns_PageBackground_Hover_Light};
  --clr-arwbtns-page-background-pressed: #{$clrArrowBtns_PageBackground_Down_Light};
  --clr-arwbtns-icon: #{$clrArrowBtns_Icon_Light};
}

.dark {
  --clr-active-line: #{$clrTabSwitch_ActiveLine_Dark};
  --clr-text-lesser: #{$clrText_Lesser_Dark};
  --clr-text-standard: #{$clrText_Standard_Dark};
  --clr-separator: #{$clrSeparator_Dark};
  --clr-hilite-not-selected: #{$clrTabSwitch_HiliteNotSelected_Dark};
  --clr-hilite-selected: #{$clrTabSwitch_HiliteSelected_Dark};
  --clr-arwbtns-page-background: #{$clrArrowBtns_PageBackground_Dark};
  --clr-arwbtns-page-background-hover: #{$clrArrowBtns_PageBackground_Hover_Dark};
  --clr-arwbtns-page-background-pressed: #{$clrArrowBtns_PageBackground_Down_Dark};
  --clr-arwbtns-icon: #{$clrArrowBtns_Icon_Dark};
}


.tsComponent {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  outline: none;

  .tabswitch {
    height: 48px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    &.mobile {
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar { display: none; }
    }

    .tabcontainer {
      display: flex;
      flex-direction: row;
      height: 100%;
      box-sizing: border-box;
      position: relative;

      .tab {
        height: 100%;
        width: fit-content;
        box-sizing: border-box;
        border-right: 1px solid transparent;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &.stepMode {
          border-bottom: 1px solid var(--clr-separator);
          padding: 0;
          justify-content: space-between;

          .txt { padding: 0 20px; }

          &.disabled {
            cursor: not-allowed;

            .txt {
              color: $clrText_Disabled;
            }
          }
        }

        .txt {
          @extend %noselect;
          @extend %fnt-secondary;
          @include mx-txt-overflow-hidden;

          color: var(--clr-text-lesser);
          text-align: center;
          z-index: 5;

          &.sel {
            color: var(--clr-text-standard);
          }

          &.bold {
            font-weight: 600;
          }
        }

        svg.break {
          fill: var(--clr-separator);
          stroke: none;
          width: 24px;
          height: 24px;
          min-width: 24px;
          min-height: 24px;
          transform: scaleX(-1);
        }
      }

      .dummyTab {
        width: 96px;
        min-width: 96px;
        height: 100%;
        box-sizing: border-box;
      }

      .line {
        box-sizing: border-box;
        position: absolute;
        z-index: 5;
        background-color: var(--clr-active-line);
        height: 4px;
        left: 0;
        width: 0;
        transition: left 0.5s ease, width 0.5s ease;

        &.top { top: 0; }
        &.bottom { bottom: 0; }
        &.stepMode { height: 2px; }
      }

      .ripple {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 0;
        left: 0;
        top: 0;
        width: 0;
        height: 48px;

        .inner {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 0;

          &.enter {
            animation: ui-ripple-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0.3;
            transform: scale(1);
          }

          &.exit {
            animation: ui-ripple-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            transform: scale(0);
          }

          .pulsator {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--clr-hilite-selected);
            animation: ui-ripple-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;

            &.noSel { background-color: var(--clr-hilite-not-selected); }
          }
        }
      }
    }
  }

  .lrbtns {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 96px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-arwbtns-page-background);

    &.stepMode {
      box-sizing: border-box;
      border-bottom: 1px solid var(--clr-separator);
    }

    .scrollButton {
      width: 48px;
      height: 48px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      -webkit-tap-highlight-color: transparent;

      &:hover:enabled {
        background-color: var(--clr-arwbtns-page-background-hover);
      }

      &:active:enabled {
        background-color: var(--clr-arwbtns-page-background-pressed);
      }

      svg.tri {
        fill: var(--clr-arwbtns-icon);

        &.right {
          transform: scaleX(-1);
        }
      }
    }
  }
}



@keyframes ui-ripple-enter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes ui-ripple-exit {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes ui-ripple-pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }
}
