@use "sass:map";
@use "sass:color";

// Common colors
$clrHeaderDarkBk: #253551;
$clrHeaderDarkText: white;
$clrHeaderDark_Disabled: dimgray;

$clrHeaderLightBk: white;
$clrHeaderLightText: black;
$clrHeaderLight_Disabled: lightgray;

$clrMenuItemHover: #e6e6e6;
$clrError: #CE2C30;

$clrLoginBk: #F7F8F9;
$clrLoading: #3B3BEC;
$clrLoadingLight: #D5D5EF;

$clrAdminBk: #1C5886;
$clrAdminScrollbar_Track: #10324D;
$clrAdminScrollbar_Thumb: #69DEF6;

// Button
$mapLinkButton_Dark: (
  'background':           $clrHeaderDarkBk,
  'text':                 $clrHeaderDarkText,
  'background-hover':     #515D74,
  'background-active':    #384D74,
  'border-focus':         $clrHeaderDarkBk,
  'background-disabled':  $clrHeaderLight_Disabled,
  'text-disabled':        $clrHeaderDark_Disabled,
);

$mapLinkButton_Light: (
  'background':           $clrHeaderLightBk,
  'text':                 $clrHeaderDarkBk,
  'background-hover':     lightgray,
  'background-active':    gainsboro,
  'border-focus':         $clrHeaderLightBk,
  'background-disabled':  $clrHeaderLight_Disabled,
  'text-disabled':        $clrHeaderDark_Disabled,
);

$maxHtmlPageWidth: 1400px;

%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin mx-linscale($prop, $maxVal, $minVal, $maxDim, $minDim, $measure: 100vw) {
  $maxValPx: #{$maxVal}px;
  $maxWPx: #{$maxDim}px;
  $minWPx: #{$minDim}px;

  #{$prop}: calc($maxValPx - ($maxWPx - max($measure, $minWPx)) * ($maxVal - $minVal) / ($maxDim - $minDim));
}

@mixin button($map) {
  $clrBackground:           map.get($map, 'background');
  $clrText:                 map.get($map, 'text');
  $clrBackground_Hover:     map.get($map, 'background-hover');
  $clrBackground_Active:    map.get($map, 'background-active');
  $clrBorder_Focus:         map.get($map, 'border-focus');
  $clrText_Disabled:        map.get($map, 'text-disabled');
  $clrBackground_Disabled:  map.get($map, 'background-disabled');

  background-color: transparent;
  touch-action: none;
  text-decoration: none;
  outline: none;
  transition: border 0.2s;

  .text {
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    color: $clrText;
  }

  .inner {
    z-index: 0;
    position: absolute;
    inset: 2px;
    border-radius: 32px;
    border: none;
    pointer-events: none;
    touch-action: none;
    background-color: $clrBackground;
    transition: background-color 0.2s;
  }

  &:hover:enabled {
    .inner { background-color: $clrBackground_Hover; }
  }

  &:active:enabled {
    .inner { background-color: $clrBackground_Active; }
  }

  &:focus-visible {
    border-color: $clrBorder_Focus;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
    .text { color: $clrText_Disabled; }
    .inner { background-color: $clrBackground_Disabled; }
  }
}

// Text overflow hidden
@mixin mx-txt-overflow-hidden($ellipsis: true, $noWrap: true) {
  @if $ellipsis { text-overflow: ellipsis; }

  @if $noWrap { white-space: nowrap; }

  overflow: hidden;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Font variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$fontPrimary: var(--font-aspekta-750);
$fontSecondary: var(--font-aspekta-250);

%fnt-primary {
  font-family: $fontPrimary, sans-serif;
}

%fnt-secondary {
  font-family: $fontSecondary, sans-serif;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dialogs
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%dialog-common {
  max-width: 96vw;
  width: 600px;
  padding: 20px;
  border: 1px solid color.adjust($clrAdminBk, $lightness: -20%);
  border-radius: 10px;
  background-color: $clrAdminBk;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::backdrop {
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(3px);
  }

  *::selection {
    background-color: #09184c;
    color: #95DBEA;
  }

  .title {
    font-size: 20px;
    color: white;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .pbtn {
      height: 48px;

      &:focus-visible {
        border-color: $clrHeaderLightBk;
      }
    }
  }
}
