@use "sass:map";
@use "sass:color";

// Common colors
$clrHeaderDarkBk: #253551;
$clrHeaderDarkText: white;
$clrHeaderDark_Disabled: dimgray;

$clrHeaderLightBk: white;
$clrHeaderLightText: black;
$clrHeaderLight_Disabled: lightgray;

$clrMenuItemHover: #e6e6e6;
$clrError: #CE2C30;

$clrLoginBk: #F7F8F9;
$clrLoading: #7A63DF;
$clrLoadingLight: #D5D5EF;

$clrAdminBk: #F3F2F8;
$clrAdmin_BorderClr: #C1C1CD;
$clrAdmin_Txt0: black;
$clrAdmin_Txt1: #21222A;
$clrAdmin_RoleCard: color.adjust($clrAdminBk, $lightness: -37% );
$clrAdmin_TxtLight0: white;
$clrAdminScrollbar_Track: color.adjust($clrAdminBk, $lightness: -7% );
$clrAdminScrollbar_Thumb: color.adjust($clrAdminBk, $lightness: -34% );
$clrAdmin_NavbarLinkText: #696977;
$clrAdmin_NavbarSelectedLinkText: color.adjust($clrAdminBk, $lightness: -50% );
$clrAdmin_LicenseTextKey: color.adjust($clrAdminBk, $lightness: -40% );
$clrAdmin_LicenseTextValue: color.adjust($clrAdminBk, $lightness: -65% );
$clrAdmin_AssignedUserBk: color.adjust($clrAdminBk, $lightness: -5% );
$clrAdmin_DlgDarkerBk: color.adjust($clrAdminBk, $lightness: -12% );
$clrAdmin_ManageLicUsersDesc: color.adjust($clrAdminBk, $lightness: -38% );
$clrAdmin_DlgText: color.adjust($clrAdminBk, $lightness: -65% );
$clrAdmin_DlgTextDk: color.adjust($clrAdminBk, $lightness: -75% );
$clrAdmin_06: color.adjust($clrAdminBk, $lightness: -6% );
$clrAdmin_10: color.adjust($clrAdminBk, $lightness: -10% );
$clrAdmin_35: color.adjust($clrAdminBk, $lightness: -35% );
$clrAdmin_40: color.adjust($clrAdminBk, $lightness: -40% );
$clrSlider_Full: color.adjust($clrAdminBk, $lightness: -40% );
$clrSlider_Empty: color.adjust($clrAdminBk, $lightness: -8% );
$clrSlider_DisabledFull: color.adjust($clrHeaderDark_Disabled, $lightness: 15% );
$clrSlider_DisabledEmpty: $clrHeaderLight_Disabled;
$clrPopupMenu_Background: color.adjust($clrAdminBk, $lightness: -5% );
$shdPopupMenu: 0 0 0 1px rgba(white, 0.5), 0 4px 12px 0 rgba(white, 0.25), inset 0 0 0 1px $clrAdmin_35; // stylelint-disable-line

// Button
$mapButton_Dark: (
  'background':           $clrHeaderDarkBk,
  'text':                 $clrHeaderDarkText,
  'background-hover':     #515D74,
  'background-active':    #384D74,
  'border-focus':         $clrHeaderDarkBk,
  'background-disabled':  $clrHeaderLight_Disabled,
  'text-disabled':        $clrHeaderDark_Disabled,
  'border-focus-inv':     $clrHeaderLightBk,
  'border-inv':           $clrHeaderLightBk,
);

$mapButton_Light: (
  'background':           $clrHeaderLightBk,
  'text':                 $clrHeaderDarkBk,
  'background-hover':     lightgray,
  'background-active':    gainsboro,
  'border-focus':         $clrHeaderLightBk,
  'background-disabled':  $clrHeaderLight_Disabled,
  'text-disabled':        $clrHeaderDark_Disabled,
  'border-focus-inv':     $clrHeaderDarkBk,
  'border-inv':           $clrHeaderDarkBk,
);

$mapButton_Red: (
  'background':           $clrError,
  'text':                 $clrHeaderDarkText,
  'background-hover':     color.adjust($clrError, $lightness: 10%),
  'background-active':    color.adjust($clrError, $lightness: 5%),
  'border-focus':         $clrError,
  'background-disabled':  $clrHeaderLight_Disabled,
  'text-disabled':        $clrHeaderDark_Disabled,
  'border-focus-inv':     color.adjust($clrError, $lightness: 30%),
  'border-inv':           none,
);

$mapButton_Dark_TransparentBk: (
  'background':           transparent,
  'text':                 $clrHeaderDarkText,
  'background-hover':     color.adjust(white, $alpha: -.85),
  'background-active':    color.adjust(white, $alpha: -.92),
  'border-focus':         transparent,
  'background-disabled':  color.adjust($clrHeaderLight_Disabled, $alpha: -.75),
  'text-disabled':        color.adjust($clrHeaderDark_Disabled, $lightness: 25%),
  'border-focus-inv':     $clrHeaderLightBk,
  'border-inv':           transparent,
);

$mapButton_Light_TransparentBk: (
  'background':           transparent,
  'text':                 $clrHeaderDarkBk,
  'background-hover':     color.adjust(black, $alpha: -.9),
  'background-active':    color.adjust(black, $alpha: -.95),
  'border-focus':         transparent,
  'background-disabled':  color.adjust($clrHeaderDark_Disabled, $alpha: -.75),
  'text-disabled':        $clrHeaderDark_Disabled,
  'border-focus-inv':     $clrHeaderDarkBk,
  'border-inv':           transparent,
);

$mapButton_Red_TransparentBk: (
  'background':           transparent,
  'text':                 $clrError,
  'background-hover':     color.adjust($clrError, $alpha: -.9),
  'background-active':    color.adjust($clrError, $alpha: -.95),
  'border-focus':         transprent,
  'background-disabled':  color.adjust($clrHeaderDark_Disabled, $alpha: -.75),
  'text-disabled':        $clrHeaderDark_Disabled,
  'border-focus-inv':     color.adjust($clrError, $lightness: 30%),
  'border-inv':           transprent,
);

$maxHtmlPageWidth: 1400px;

%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin mx-linscale($prop, $maxVal, $minVal, $maxDim, $minDim, $measure: 100vw) {
  $maxValPx: #{$maxVal}px;
  $maxWPx: #{$maxDim}px;
  $minWPx: #{$minDim}px;

  #{$prop}: calc($maxValPx - ($maxWPx - max($measure, $minWPx)) * ($maxVal - $minVal) / ($maxDim - $minDim));
}

@mixin mx-button($map) {
  $clrBackground:           map.get($map, 'background');
  $clrText:                 map.get($map, 'text');
  $clrBackground_Hover:     map.get($map, 'background-hover');
  $clrBackground_Active:    map.get($map, 'background-active');
  $clrBorder_Focus:         map.get($map, 'border-focus');
  $clrText_Disabled:        map.get($map, 'text-disabled');
  $clrBackground_Disabled:  map.get($map, 'background-disabled');
  $clrBorder_FocusInv:      map.get($map, 'border-focus-inv');
  $clrBorder_Inv:           map.get($map, 'border-inv');

  background-color: transparent;
  touch-action: none;
  text-decoration: none;
  outline: none;
  transition: border 0.2s;

  .text {
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    color: $clrText;
  }

  .inner {
    z-index: 0;
    position: absolute;
    inset: 2px;
    border-radius: 32px;
    border: none;
    pointer-events: none;
    touch-action: none;
    background-color: $clrBackground;
    transition: background-color 0.2s;
  }

  &:hover:enabled {
    .inner { background-color: $clrBackground_Hover; }
  }

  &:active:enabled {
    .inner { background-color: $clrBackground_Active; }
  }

  &:focus-visible {
    border-color: $clrBorder_Focus;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
    .text { color: $clrText_Disabled; }
    .inner { background-color: $clrBackground_Disabled; }
  }


  &.invertBkTheme {
    &:focus-visible { border-color: $clrBorder_FocusInv; }
    &:enabled { .inner { border: 2px solid $clrBorder_Inv; } }
  }
}

@mixin mx-link-button($map) {
  $clrBackground:           map.get($map, 'background');
  $clrText:                 map.get($map, 'text');
  $clrBackground_Hover:     map.get($map, 'background-hover');
  $clrBackground_Active:    map.get($map, 'background-active');
  $clrBorder_Focus:         map.get($map, 'border-focus');
  $clrText_Disabled:        map.get($map, 'text-disabled');
  $clrBackground_Disabled:  map.get($map, 'background-disabled');
  $clrBorder_FocusInv:      map.get($map, 'border-focus-inv');

  background-color: transparent;
  touch-action: none;
  text-decoration: none;
  outline: none;
  transition: border 0.2s;

  .text {
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    color: $clrText;
  }

  .inner {
    z-index: 0;
    position: absolute;
    inset: 2px;
    border-radius: 32px;
    border: none;
    pointer-events: none;
    touch-action: none;
    background-color: $clrBackground;
    transition: background-color 0.2s;
  }

  &:hover { .inner { background-color: $clrBackground_Hover; } }
  &:active { .inner { background-color: $clrBackground_Active; } }
  &:focus-visible { border-color: $clrBorder_Focus; }

  &.invertBkTheme {
    &:focus-visible { border-color: $clrBorder_FocusInv; }
    &:not([aria-disabled="true"]) { .inner { border: 2px solid $clrBorder_FocusInv; } }
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;  // Has no effect when pointer-events = none
    pointer-events: none;
    opacity: .7;
    .text { color: $clrText_Disabled; }
    .inner { background-color: $clrBackground_Disabled; }
  }
}

@mixin mx-icon-button($map) {
  $clrBackground:           map.get($map, 'background');
  $clrSvg:                  map.get($map, 'text');
  $clrBackground_Hover:     map.get($map, 'background-hover');
  $clrBackground_Active:    map.get($map, 'background-active');
  $clrBorder_Focus:         map.get($map, 'border-focus');
  $clrSvg_Disabled:         map.get($map, 'text-disabled');
  $clrBackground_Disabled:  map.get($map, 'background-disabled');
  $clrBorder_FocusInv:      map.get($map, 'border-focus-inv');
  $clrBorder_Inv:           map.get($map, 'border-inv');

  background-color: transparent;
  touch-action: none;
  text-decoration: none;
  outline: none;
  transition: border 0.2s;

  .inner {
    z-index: 0;
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    border: none;
    pointer-events: none;
    touch-action: none;
    background-color: $clrBackground;
    transition: background-color 0.2s;
  }

  svg.image {
    z-index: 1;
    fill: $clrSvg;
    stroke: $clrSvg;
  }

  &:hover:enabled { .inner { background-color: $clrBackground_Hover; } }
  &:active:enabled { .inner { background-color: $clrBackground_Active; } }
  &:focus-visible { border-color: $clrBorder_Focus; }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
    .inner { background-color: $clrBackground_Disabled; }

    svg.image {
      fill: $clrSvg_Disabled;
      stroke: $clrSvg_Disabled;
    }
  }

  &.invertBkTheme {
    &:focus-visible { border-color: $clrBorder_FocusInv; }
    &:enabled { .inner { border: 2px solid $clrBorder_Inv; } }
  }
}

// Text overflow hidden
@mixin mx-txt-overflow-hidden($ellipsis: true, $noWrap: true) {
  @if $ellipsis { text-overflow: ellipsis; }

  @if $noWrap { white-space: nowrap; }

  overflow: hidden;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Font variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$fontPrimary: var(--font-aspekta-750);
$fontSecondary: var(--font-aspekta-250);

%fnt-primary {
  font-family: $fontPrimary, sans-serif;
}

%fnt-secondary {
  font-family: $fontSecondary, sans-serif;
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dialogs
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

%dialog-common {
  max-width: 96vw;
  width: 600px;
  padding: 20px;
  border: 1px solid color.adjust($clrAdminBk, $lightness: -20%);
  border-radius: 10px;
  background: linear-gradient($clrAdmin_DlgDarkerBk 0, $clrAdminBk 15%, $clrAdminBk 75%, $clrAdmin_DlgDarkerBk);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::backdrop {
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(3px);
  }

  *::selection {
    background-color: #09184c;
    color: #95DBEA;
  }

  .title {
    font-size: 20px;
    color: $clrAdmin_LicenseTextValue;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .pbtn {
      height: 48px;

      &:focus-visible {
        border-color: $clrHeaderDarkBk;
        &.danger { border-color: $clrError; }
      }
    }
  }
}
