[data-animated^='text'] { // This means when data-animated starts with text i.e. it covers "text1", "text2" etc
  opacity: 0;
}

// Font variables
$font-primary: var(--font-aspekta-750);
$font-secondary: var(--font-aspekta-250);

// Global font styles
.g_fontPrimary {
  font-family: $font-primary, sans-serif;
  font-size: 16px;
  line-height: 1.125;
}

.g_fontSecondary {
  font-family: $font-secondary, sans-serif;
  font-size: 16px;
  line-height: 1.125;
}
