@use "globals" as *;

%hdr-common {
  @extend %fnt-secondary;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60px;
  z-index: 10;
  padding: 0 36px 0 30px;
  box-sizing: border-box;
  background-color: $clrHeaderDarkBk;
  flex-direction: row;
  justify-content: space-between;
}

.headerPlaceholder {
  height: 60px;
  min-height: 60px;
  background-color: $clrHeaderDarkBk;

  &.light { background-color: $clrHeaderLightBk; }
}

.header {
  @extend %hdr-common;

  display: flex;

  &.light {
    background-color: $clrHeaderLightBk;

    .links {
      .link {
        color: $clrHeaderLightText;

        &:focus-visible { border-color: $clrHeaderLightText; }
      }
    }

    .titleCentrer { color: $clrHeaderLightText; }
  }

  .links {
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
      font-size: 16px;
      margin-right: 31px;
      color: $clrHeaderDarkText;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 5px;
      border: 2px solid transparent;
      outline: none;

      &:focus-visible { border-color: $clrHeaderDarkText; }

      &.active {
        text-decoration: underline;
      }

      &.noMr { margin-right: 0; }
    }
  }

  .titleCentrer {
    z-index: 5;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1160px) {
      left: 300px;
    }

    @media screen and (max-width: 806px) {
      left: 370px;
    }

    svg.logo {
      width: 164px;
      height: auto;
    }
  }
}

.narrowHeader {
  @extend %hdr-common;

  display: none;
  padding-right: 24px;

  .title {
    height: 100%;
    display: flex;
    align-items: center;

    svg.logo {
      width: 164px;
      height: auto;
    }
  }

  &.light { background-color: $clrHeaderLightBk; }
}

@media screen and (max-width: 770px) {
  .header {  display: none; }
  .narrowHeader {  display: flex; }
}
