@use "globals" as *;
@use "sass:color";


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  label.label {
    padding-bottom: 2px;
    display: flex;
    font-size: 16px;
    color: $clrHeaderDarkText;

    &.disabled { color: $clrHeaderDarkText_Disabled; }

    &.dark {
      color: $clrHeaderLightText;
      &.disabled { color: $clrHeaderLightText_Disabled; }
    }
  }

  .input {
    @extend %fnt-secondary;

    border-radius: 4px;
    outline-offset: 2px;
    height: 64px;
    padding: 0 24px;
    font-size: 18px;
    background-color: color.adjust($clrHeaderLightBk, $alpha: -.03 );
    box-sizing: border-box;

    &::placeholder { color: #B2B2B2; }

    &.light {
      border: 1px solid $clrHeaderLightBk;

      &:hover { border-color: color.adjust($clrHeaderLightBk, $lightness: -30% ); }
      &.errorBorder { border-color: $clrError_Light; }

      &:focus-visible {
        outline: $clrHeaderLightBk solid 2px;
        border-color: color.adjust($clrHeaderLightBk, $lightness: -60% );

        &.error {
          outline-color: $clrError_Light;
          border-color: $clrError_Light;
        }
      }

      &:disabled {
        border-color: $clrHeaderDark_Disabled;
        color: color.adjust($clrHeaderDark_Disabled, $lightness: 30% );
        background: transparent;
      }
    }

    &.dark {
      border: 1px solid color.adjust($clrHeaderDarkBk, $lightness: 60% );

      &:hover { border-color: color.adjust($clrHeaderDarkBk, $lightness: 30% ); }
      &.errorBorder { border-color: $clrError; }

      &:focus-visible {
        outline: $clrHeaderDarkBk solid 2px;
        border-color: $clrHeaderDarkBk;

        &.error {
          outline-color: $clrError;
          border-color: $clrError;
        }
      }

      &:disabled {
        border-color: $clrHeaderLight_Disabled;
        color: color.adjust($clrHeaderLight_Disabled, $lightness: -20% );
        background: transparent;
      }
    }

    &:disabled { cursor: not-allowed; }
  }

  .errorText {
    font-size: 14px;
    line-height: 18px;
    min-height: 18px;

    &.dkError {
      color: $clrError;
      &.disabled { color: $clrHeaderLightText_Disabled; }
    }

    &.ltError {
      color: $clrError_Light;
      &.disabled { color: $clrHeaderDarkText_Disabled; }
    }
  }
}
