@use "globals" as *;

.layoutMain {
  background-color: $clrLoginBk;
  min-height: 100vh;
  display: grid;
  place-items: center;
  width: 100%;

  .outer {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      margin: 8px 20px;
      max-width: 100%;
      border-radius: 30px;
      box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 2px rgb(0 0 0 / 10%);
      padding: 50px;
      background-color: white;
      position: relative;

      @media screen and (max-width: 600px) {
        margin: 8px;
        padding: 35px;
      }

      .overlay {
        position: absolute;
        z-index: 10;
        inset: 50px;
        background-color: white;
        opacity: .75;
        display: grid;
        place-items: center;
      }

      .caption {
        font-size: 32px;
        color: black;
        margin-bottom: 26px;
        line-height: 37px;

        @media screen and (max-width: 450px) {
          @include mx-linscale(font-size, 32, 10, 450, 200);
        }
      }

      .text {
        color: black;
        margin-bottom: 14px;
      }

      .central { align-self: center; }

      .emailLine {
        display: flex;
        align-items: center;
        color: black;
        gap: 40px;
        margin: 20px 0;

        .emailTitle { font-size: 16px; }
        .emailValue { font-size: 20px; }

        @media screen and (max-width: 450px) {
          gap: 20px;
          flex-wrap: wrap;

          .emailValue { font-size: 18px; }
        }
      }

      .wrapInp {
        margin-bottom: 20px;

        .inp {
          height: 48px;
          width: 100%;
        }
      }

      @media screen and (max-width: 440px) {
        padding: 25px;

        .wrapInp { margin-bottom: 10px; }
        .overlay { inset: 25px; }
      }

      .pbtn {
        min-width: 180px;
        align-self: center;
        margin-top: 20px;
      }

      .c1 {
        font-size: 32px;
        color: black;
        margin-bottom: 26px;
        line-height: 37px;

        @media screen and (max-width: 600px) {
          @include mx-linscale(font-size, 28, 11, 600, 200);
        }
      }

      .t1 {
        @extend %fnt-secondary;

        color: black;
        margin-bottom: 36px;
        line-height: 30px;
        text-align: center;

        .mail { @extend %fnt-primary; }

        .logo {
          display: inline-block;
          height: 30px;
          padding: 0 5px;
          margin-bottom: -8px;
        }
      }

      .t2 {
        @extend %fnt-secondary;

        color: black;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}


.toastCustomStyle {
  div { padding-bottom: 5px; }
  .b { font-weight: bold; }
}
