@use "globals" as *;


section.main {
  display: block;
  padding: 32px;

  .fxCenter {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }

  article.full {
    font-size: 16px;
    line-height: 1.4;
    color: $clrHelpCenter_PageText;
    letter-spacing: 0.05em;

    h1 {
      @extend %fnt-primary;

      color: $clrHelpCenter_PageTitle;
      font-size: 32px;
      line-height: 1.2;
      margin-bottom: 32px;
    }

    h2 {
      @extend %fnt-primary;

      color: $clrHelpCenter_PageTitle;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 24px;
    }

    p, ul {
      @extend %fnt-secondary;

      margin: 0 0 20px;

      .link {
        color: $clrLinkText;
        text-decoration: none;
        outline: none;

        &:hover {
          text-decoration: underline;
          color: $clrHelpCenter_PageText;
        }

        &:focus-visible {
          text-decoration: underline;
        }
      }

      strong {
        font-weight: 600;

        &.more {
          @extend %fnt-primary;

          font-weight: normal;
        }
      }

      em { font-style: italic; }

      &.sub {
        font-size: 13px;
        font-style: italic;
        text-align: center;
      }

      &.note {
        padding: 14px 25px;
        background: #F8F9FA;
        border-radius: 8px;
        border-left: 4px solid #007BFF;
      }
    }

    ul {
      list-style-type: disc;
      padding-inline-start: 30px;

      &.spaceItems {
        li { margin-bottom: 10px; }
      }
    }

    hr {
      height: 2px;
      min-height: 2px;
      background-color: $clrHelpCenter_Separator;
      margin: 20px 0;
      border: none;
    }

    .clickableImage {
      cursor: pointer;
      border-radius: 5px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
      margin: 14px 0 28px;
      padding: 4px;
      height: auto;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
      }
    }

    .img1 {
      max-width: 60vw;
      width: auto;
      height: auto;
    }

    .videoContainer {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; // 16:9 aspect ratio
      margin: 40px 0 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgb(0 0 0 / .1);
    }
  }
}
