@use "globals" as *;

.header {
  width: 100%;
  min-height: 72px;
  max-height: 72px;
  box-sizing: border-box;
  border-bottom: 1px solid #023302;
  display: grid;
  place-items: center;
  font-size: 22px;
  color: white;
}
