@use "globals" as *;

.header {
  width: 100%;
  min-height: 72px;
  max-height: 72px;
  box-sizing: border-box;
  border-bottom: 1px solid $clrAdmin_BorderClr;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  color: $clrAdmin_Txt0;

  .info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 0;
    height: 100%;
    box-sizing: border-box;

    .naming {
      min-height: 25px;
      display: flex;
      align-items: center;
      gap: 40px;

      .name {
        @extend %fnt-secondary;

        color: $clrAdmin_Txt0;
        font-size: 16px;
      }

      .email {
        color: $clrAdmin_Txt1;
        font-size: 18px;
      }
    }

    .roleCards {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 6px;

      .desc {
        @extend %fnt-secondary;

        font-size: 16px;
        color: $clrAdmin_Txt0;
        margin-right: 10px;
      }

      .card {
        padding: 0 16px;
        display: grid;
        place-items: center;
        background: $clrAdmin_RoleCard;
        color: $clrAdmin_TxtLight0;
        font-size: 15px;
        border-radius: 16px 4px;
        height: 28px;
      }
    }
  }
}
