@use "globals" as *;

.button {
  @extend %noselect;

  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  touch-action: none;

  .container {
    display: inline-block;

    .bar {
      width: 35px;
      height: 5px;
      background-color: $clrHeaderDarkText;
      margin: 6px 0;
      transition: 0.4s;

      &.bar1, &.bar2, &.bar3 {}
    }
  }

  &.down {
    .container {
      .bar1 { transform: translate(0, 11px) rotate(-135deg); }
      .bar2 { transform: scale(0.1, 0.5); }
      .bar3 { transform: translate(0, -11px) rotate(135deg); }
    }
  }

  &.light  {
    .container .bar { background-color: $clrHeaderLightText; }
  }
}
