@use "globals" as *;
@use 'sass:map';

@mixin button($map) {
  $clrBackground:         map.get($map, 'background');
  $clrText:               map.get($map, 'text');
  $clrBackground_Hover:   map.get($map, 'background-hover');
  $clrBackground_Active:  map.get($map, 'background-active');
  $clrBorder_Focus:       map.get($map, 'border-focus');

  background-color: transparent;
  touch-action: none;
  text-decoration: none;
  outline: none;
  transition: border 0.2s;

  .text {
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    color: $clrText;
  }

  .inner {
    z-index: 0;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 32px;
    border: none;
    pointer-events: none;
    touch-action: none;
    background-color: $clrBackground;
    transition: background-color 0.2s;
  }

  &:hover {
    .inner { background-color: $clrBackground_Hover; }
  }

  &:active {
    .inner { background-color: $clrBackground_Active; }
  }

  &:focus-visible {
    border-color: $clrBorder_Focus;
  }
}

.button {
  @extend %noselect;

  width: fit-content;
  min-height: 64px;
  border-radius: 32px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border: 2px solid transparent;
  position: relative;

  &.dark { @include button($mapLinkButton_Dark); }
  &.light { @include button($mapLinkButton_Light); }
}
