@use "globals" as *;


.button {
  @extend %noselect;

  width: fit-content;
  min-height: 64px;
  border-radius: 32px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border: 2px solid transparent;
  position: relative;

  &.dark { @include mx-link-button($mapButton_Dark); }
  &.light { @include mx-link-button($mapButton_Light); }
  &.trial { @include mx-link-button($mapButton_Trial); }
}
